# Visual Studio 관련 파일 무시
.vs/
*.sln
*.vcxproj
*.vcxproj.*
*.filters
*.user
*.suo

# 빌드 폴더 무시
Debug/
Release/
x64/
x86/
out/

# C++ 임시 파일 및 빌드 산출물 무시
*.obj
*.exe
*.dll
*.pdb
*.ilk
*.idb
*.ipch
*.log
*.pch

# C++ 관련 백업 파일 무시
*.bak
*.tmp
*.old

# 기타 임시 파일 무시
*.log
*.cache
*.tlog
*.lastbuildstate
*.rsp
*.log
*.db

# 파일 형식별 무시 설정
!*.cpp  # .cpp 파일만 제외하여 포함
